.ad-box {
    width: 60%;
    padding: 10px;
    margin-left: 20%;
    background-color: rgb(245, 233, 229);
    border-radius: 10px 10px;
    opacity: 0.8;
}
.ad-box2{
    width: 40%;
    padding: 10px;
    margin-left: 20%;
    background-color: rgb(245, 233, 229);
    border-radius: 10px 10px;
    opacity: 0.8;
}
