.Button {
    background-color: #747566;
    border-radius: 20px;
    text-align: center;
    color: #ffef14;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
}

.Button:hover {
    background-color: #918787;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
