#new-task-button-box {
    width: 80%;
    height: 100px;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-top: 1%;
    background-color: rgba(81, 204, 204, 0.411);
    border-radius: 20px;
    padding-top: 2%;
}

#new-task-button-box:hover {
    background-color: rgba(168, 223, 223, 0.411);
    color: green; 
}

#new-task-button {
    font-size: 300%;
    margin: auto;
}

#new-task-button:hover {
    color: green;
}

.saveButton{
    font-weight: 600;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    width: 20%;
    padding: 1% 1%;
    margin-left: 80%;
    box-sizing: border-box;
    border-radius: 20px;
    background-color:#4ea52c;
    color:white;
    transition: .5s ease-out;
}

.saveButton:hover {
    color: #4ea52c;
    background-color:white;
    cursor:pointer;
}