.boardOptionItem{
    padding: 5px;
    border-radius: 20px;
}
.boardOptionItem:hover
{
    background-color: #ddbebec2;
    cursor: pointer;;
}

.boardOptionItemSelected{
    padding: 5px;
    background-color: #747566;
    border-radius: 20px;
    color: #ffef14;
}

.numberInput{
    width: 1.25rem;
    background-color: transparent;
    font-weight: bold;
}
.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.dateLine {
    margin-bottom: 3px;
    border-bottom: 2px solid black;
    background:transparent;
}

.card {
    background-color: orange;
    width: 150px;
    height: 120px;
    border-radius: 20px;
    padding:10px;
    margin:5px;
}

.textAreaInput {
    font-weight: bold;
    color:#272626;
    resize:none;
    overflow:hidden;
    outline:none;
    width:130px;
    background:transparent;
}

.formContainer {
}

.formName {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 200%;
}

.eventFormLabel {
    font-size: 150%;
    font-weight: 600;
    margin-left: 20%;
}

.eventInputField {
    width: 50%;
    min-height: 50px;
    font-size: 130%;
    padding: 1% 2%;
    margin-left: 25%;
    border-radius: 20px;
}

.option-bar {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 1%;
    padding: .5% 2%;
    background-color: #dbd2d29f;
}

.option-bar li {
    float: left;
}

.option-bar li div {
    display: block;
    margin: 0 5px;
    box-sizing: border-box;

}

.flexCardBoard {
    display:flex;
    flex-wrap: wrap;
    align-items:center;
}

.actionButtons {
    float:right;
    display:block;
}

.actionButtons:hover {
    cursor:pointer
}

.optionTitle{
    margin: auto;
    font-weight: bolder;
    font-size: xx-large;

}

.title {
    margin: 10%;
    font-weight: bolder;
}

.react-datepicker-ignore-onclickoutside{
    background:transparent;
    font-weight: bolder;
    font-size: x-large;
}

.react-datepicker__input-container input{
    background:transparent;
    font-weight: bolder;
    font-size: x-large;
}

.stickyOptionBar{
    position:sticky;
    top:56px;
    background-color: #dbd2d29f;
    margin-right: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 5% 5%;
}

.stickyOptionBar li {
    display: inline;
}

.schedule-container {
    
}

.main-content {
    background-color: #dbd2d29f;
    box-sizing: border-box;
    padding: 2vh 3%;
    border-radius: 20px;
    animation: changeMainContent .5s ease-out;
}

@keyframes changeMainContent {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0%;
    }
}

.one-day-schedule {
    background-color: #e2e2e2ad;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 1%;
}

.submitBtn{
    padding: 1% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75%;
    box-sizing: border-box;
    border-radius: 20px;
    background-color:#e2e2e2;
    color:orange;
    transition: .5s ease-out;
}

.eventFormSubmitBtn {
    width: 10%;
    padding: 1% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 70% 0;
    box-sizing: border-box;
    border-radius: 20px;
    background-color:#4ea52c;
    color:white;
    transition: .5s ease-out;
}

.submitBtn:hover{
    color: #4ea52c;
    background-color:white;
    cursor:pointer;
}

.eventFormSubmitBtn:hover{
    color: #4ea52c;
    background-color:white;
    cursor:pointer;
}

.new-day-event {
    background-color: #e2e2e2;
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 120px;
    color: orange;
    border-radius: 20px;
    padding:10px;
    margin:5px;
    transition: .5s ease-out;
}

.optionTitle {
    width: 40%;
    margin: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.font-bold {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    color: orange;
    width: 20%;
    border-radius: 20px;
    padding: 0.5% 2%;
    box-sizing: border-box;
    transition: .5s ease-out;
}

.font-bold:hover {
    background-color: white;
    color: #4ea52c;
}

.new-day-event:hover {
    color: #4ea52c;
}

.createBtn{
    font-size: larger;
    margin:1rem;
    width:60%;
    margin-left: 20%;
    padding:3px 6px;
    border-radius:0.5rem;
    border: solid 1px white;
    background-color:#ffb429;
    color:white;
}
.createBtn:hover{
    border: solid 1px #ffb429;
    background-color:white;
    color:black;
    cursor:pointer;
}

.eventBox{
    width: 50%;
    padding: 10px;
    margin-left: 20%;
    background-color: rgb(245, 233, 229);
    border-radius: 10px 10px;
    opacity: 0.8;
    margin:auto
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }